@model List<tp6.ViewModel.CadeteViewModel>
<br />
<div class="card">
    <div class="header pt-3 blue-gradient">
        <div class="row d-flex justify-content-center">
            <h3 class="white-text mb-3 pt-3 font-weight-bold">Lista de Cadetes</h3>
        </div>
    </div>
    <div class="card-body mx-4 mt-4">
        <table id="tablita" class="table" cellspacing="0" width="100%">
            <thead>
                <tr>
                    <th class="th-sm">ID</th>
                    <th class="th-sm">Nombre</th>
                    <th class="th-sm">Direccion</th>
                    <th class="th-sm">Telefono</th>
                    <th class="th-sm">Vehiculo</th>
                    <th class="th-sm">Pedidos</th>
                    <th class="th-sm">Modificar</th>
                    <th class="th-sm">Eliminar</th>
                </tr>
            </thead>
            <tbody>
                @{ foreach (var Cadete in Model)
                    {
                        <tr>
                            <td>@Cadete.Id</td>
                            <td>@Cadete.Nombre</td>
                            <td>@Cadete.Direccion</td>
                            <td>@Cadete.Telefono</td>
                            <td>@Cadete.TipoT</td>
                            <td>
                                <form asp-action="GestionDePedidos" method="post" class="form-group">
                                    <input type="hidden" name="idCadete" value="@Cadete.Id" />
                                    <input type="hidden" name="Tipo" value="@Cadete.TipoT" />
                                    <button type="submit" class="btn btn-outline-secondary waves-effect">Gestionar Pedidos</button>
                                </form>
                            </td>
                            <td>
                                <form asp-action="ModificarCadete" method="post" class="form-group">
                                    <input type="hidden" name="_id" value="@Cadete.Id" />
                                    <button type="submit" class="btn btn-outline-info waves-effect">✏️</button>
                                </form>
                            </td>
                            <td>
                                <form asp-action="BajaCadete" aps-method="post" class="form-group">
                                    <input type="hidden" name="_id" value="@Cadete.Id" />
                                    <button type="submit" class="btn btn-outline-danger waves-effect">🗑️</button>
                                </form>
                            </td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>
</div>